:root {
  font-family: Helvetica, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root ::-webkit-scrollbar {
  width: 0;
}

.button {
  width: 100px;
  cursor: pointer;
  height: 40px;
  background-color: white;
}

* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}