:root {
  font-family: "Montserrat", sans-serif;
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme*/
  /*font-synthesis: none;*/
/*  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

:root ::-webkit-scrollbar {
  width: 0;
}



body {


}

*{
  font-family: "Montserrat", sans-serif;

  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

.button {
  background-color:white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
}

.button-visible {
  cursor: pointer;
}

.button-hide {
  cursor: default;
}

.button:hover {
  background-color: rgba(194, 194, 194, 0.44);
}

